<div class="container">
  <div class="p-col">
    <div class="p-grid p-mb-3">
        <div class="p-col-12">
            <h1>Pessoas</h1>
        </div>

        <div class="p-col-12 p-fluid p-mb-2">
            <label>Nome</label>
            <input pInputText type="text" name="" id="">
        </div>

        <div class="p-col-12">
            <button pButton type="submit" label="Pesquisar"></button>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col-12">
            <app-pessoas-grid [pessoas]="pessoas"></app-pessoas-grid>
        </div>

        <div class="p-col-12">
            <a pButton type="submit" label="Nova Pessoa"></a>
        </div>
    </div>
  </div>
</div>
