<app-navbar></app-navbar>
<app-pessoas-pesquisa></app-pessoas-pesquisa>
<!--
  <app-lancamentos-pesquisa></app-lancamentos-pesquisa>
  <app-lancamento-cadastro></app-lancamento-cadastro>
  <app-pessoa-cadastro></app-pessoa-cadastro>
-->
<p-confirmDialog header="Confirmação" icon="fas fa-question-circle" #confirmacao>
  <p-footer>
    <button type="button" pButton icon="fas fa-times" label="Não" (click)="confirmacao.reject()"></button>
    <button type="button" pButton icon="fas fa-check" label="Sim" (click)="confirmacao.accept()"></button>
  </p-footer>
</p-confirmDialog>


