<div class="container">
  <div class="p-col">
    <div class="p-grid p-mb-3">
        <div class="p-col-12">
            <h1>Lançamentos</h1>
        </div>

        <div class="p-col-12 p-fluid p-mb-2">
            <label>Descrição</label>
            <input pInputText type="text" name="" id="">
        </div>

        <div class="p-col-12 p-mb-2">
            <label style="display: block;">Vencimento</label>
            <input pInputText type="text" name="" id="" style="width: 95px;">

            <label class="p-mx-2">até</label>
            <input pInputText type="text" name="" id="" style="width: 95px;">
        </div>

        <div class="p-col-12">
            <button pButton type="submit" label="Pesquisar"></button>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col-12">
            <app-lancamentos-grid [lancamentos]="lancamentos"></app-lancamentos-grid>
        </div>

        <div class="p-col-12">
            <a pButton type="submit" label="Novo Lançamento"></a>
        </div>
    </div>
  </div>
</div>
